{% extends "shop/layouts/main.html" %}
{% load static %}
{% block title %}
Despre | Introvart
{% endblock title %}
{% block content %}
<section class="container">
    <hr style="border-top: 3px solid #013801;">
</section>
<section class="py-2 text-center container">
    <p class="title2">The uniqueness of handmade objects tells a story about each and every one of them, and that alone makes them beautiful.</p>
</section>
<section class="container">
    <div class="row">
        <div class="col-12">
            <img src="{% static 'images/about.jpg' %}" class="card2" alt="about" width="500" height="503">
            <p class="title1a" style="text-indent: 40px">A sosit momentul sa împart cu voi bulgării de pământ care au prins forma visurilor mele și care sper să își găsească locul pe o masă, un raft, o vitrină sau să le fie casă unor flori.</p>
            <p class="title1a" style="text-indent: 40px">Totul a început cu ceva timp în urmă, în timpul unei plimbări de seară prin Zurich, m-am oprit în dreptul vitrinei unui magazin de ceramică handmade. Mi-a plăcut ce am văzut, iar în mintea mea a început să prindă contur ideea de a-mi încerca mâna la crearea obiectelor de ceramică. Timp de câteva luni ideea a rămas la stadiul de „ce-ar fi dacă”, după care s-a transformat în vis… iar visele trebuiesc urmate.</p>
            <p class="title1a" style="text-indent: 40px">Așadar, am început să experimentez. Unele lucruri au ieșit bine, altele nu. Exista mulți pași de urmat în procesul de creare al obiectelor din ceramică și arareori se poate anticipa rezultatul final. Orișicum, mi-a plăcut, iar combinațiile de lut si glazuri iți oferă nenumărate posibilități de a-ți exprima creativitatea, astfel emoția cea mai puternică în această îndeletnicire este dată la deschiderea cuptorului, după glazurare. Atunci poți trece de la satisfacție maximă la „data viitoare va fi mai bine” pe masură ce-ți plimbi privirea de la un obiect la altul, încercând să corelezi imaginea mentală a fiecăruia cu ceea ce se află, de fapt, în fața ta. Te arzi la degete atingându-le ușor, pentru că nu ai avut răbdare să lași cuptorul să se răcească, și iți faci deja planul pentru data viitoare.</p>
        </div>
    </div>
</section>
<section class="container">
    <hr style="border-top: 3px solid #013801;">
</section>
{% endblock content %}