{% extends "shop/layouts/main.html" %}
{% load static %}
{% block title %}
Termeni de livrare | Introvart
{% endblock title %}
{% block content %}
<section class="container">
    <hr style="border-top: 3px solid #013801;">
</section>
<section class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3 title2 text-center">~ Termeni de livrare ~</h4>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <p>Livrarea coletelor se face în toată țara prin serviciu de curierat rapid. Taxa de transport este de 25 ron.</p>
            <p>Transportul este gratuit, prin curier rapid, oriunde în țară, pentru comenzile de peste 250 Ron. Această facilitate nu este aplicabilă produselor lucrate pe comandă sau personalizate.</p>
            <p>Timpul de livrare variază de la produs la produs. Timpul de livrare este determinat de disponibilitatea produsului și de destinația comenzii.</p>
            <p>Produsul va fi expediat în maxim cinci zile lucrătoare, dar cel mai des, va fi probabil expediat în două zile lucrătoare de la finalizarea comenzii. De sărbători și în perioadele de reduceri, termenul de livrare se poate prelungi. Livrările se fac doar în zilele lucrătoare, de luni până vineri.</p>
            <p>Dacă pachetul nu poate fi livrat (destinatarul nu răspunde, adresa specificată de dumneavoastră este gresită etc), veți fi contactat telefonic de către curier. Dacă nu se poate lua contact cu destinatarul, coletele rămân la curierul zonal 7 zile, după care revin la expeditor.</p>
            <p>Vă rugăm să verificați coletele și să nu acceptați colete deteriorate sever sau care prezintă urme de lovituri.</p>
            <p>Furnizorul de servicii își asumă răspunderea pentru pierderea și deteriorarea produsului în timpul livrării.</p>
            <p>Furnizorul de servicii își rezervă dreptul de a livra separat diferite produse comandate în același timp. Furnizorul de servicii nu va fi răspunzător pentru întârzierile în efectuarea sau neîndeplinirea prezentului Acord sau a oricăror obligații care decurg din acesta, care pot fi atribuite în mod direct cauzelor care depășesc controlul sau rezonabil (forță majoră), incluzând, dar fără a se limita la, calamități naturale, incendii, greve, conflicte de muncă, război, acte sau intervenții din partea oricărei autorități guvernamentale, eșecul unui transportator comun, furnizor, hardware, software, browser sau echipament de comunicații sau eșec de rețea, congestie sau disfuncționalitate.</p>
            <br>
        </div>
    </div>
</section>
<section class="container">
    <hr style="border-top: 3px solid #013801;">
</section>
{% endblock content %}