{% extends "shop/layouts/main.html" %}
{% block title %}
Autentificare | Introvart
{% endblock title %}
{% block content %}
<div class="container" style="margin-top:70px;min-height:600px;">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3" style="text-indent: 15px"> Autentificare</h4><p class="my-2" style="text-indent: 15px">Utilizator nou? <a href="{% url 'register' %}"> Crează cont</a></p>
            <hr style="border-top: 3px solid #013801;">
            <!--{% include 'shop/inc/message.html' %}-->
        </div>
    </div>
    <section class="py-4" >
        <div class="container">
            <div class="row">
                <div class="col-6">
                <form method="post" action="">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="" class="form-label">Nume utilizator</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Introduceți numele de utilizator">
                </div>
                <div class="mb-4">
                    <label for="" class="form-label">Parola</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Introduceți parola">
                </div>
                <button type="submit" class="btn btn1">Intră în cont</button>
                </form>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="container">
    <hr style="border-top: 3px solid #013801;">
</section>
{% endblock content %}