{% extends "shop/layouts/main.html" %}
{% block title %}
Înregistrare | Introvart
{% endblock title %}
{% block content %}
<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3" style="text-indent: 15px">Înregistrare cont nou</h4><p class="my-2" style="text-indent: 15px">Sunteți înregistrat? <a href="{% url 'login' %}">Autentificare</a></p>
            <hr style="border-top: 3px solid #013801;">
            <!--{% include "shop/inc/message.html" %}-->
        </div>
    </div>
    <section class="py-4" >
      <div class="container">
        <div class="row">
          <div class="col-6">
            <form method="post" action="">
              {% csrf_token %}
              <div class="mb-4">
                <label for="" class="form-label">Nume utilizator</label>
                {{form.username}}
                {% if form.errors.username %}
                  <label class="text-danger d-block">{{ form.errors.username }}</label>
                {% endif %}
              </div>
              <div class="mb-4">
                <label for="" class="form-label">Email utilizator</label>
                {{form.email}}
                {% if form.errors.email %}
                <label class="text-danger d-block">{{ form.errors.email }}</label>
                {% endif %}
              </div>
              <div class="mb-4">
                <label for="" class="form-label">Parola</label>
                {{form.password1}}
                {% if form.errors.password1 %}
                <label class="text-danger d-block">{{ form.errors.password1 }}</label>
                {% endif %}
              </div>
              <div class="mb-4">
                <label for="" class="form-label">Confirmă parola</label>
                {{form.password2}}
                {% if form.errors.password2 %}
                <label class="text-danger d-block">{{ form.errors.password2 }}</label>
                {% endif %}
              </div>
              <button type="submit" class="btn btn1">Crează cont</button>
            </form>
          </div>
          <div class="col-6">     
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="container">
    <hr style="border-top: 3px solid #013801;">
</section>
{% endblock content %}