{% extends "shop/layouts/main.html" %}
{% load static %}
{% block title %}
Termeni și condiții | Introvart
{% endblock title %}
{% block content %}
<section class="container">
    <hr style="border-top: 3px solid #013801;">
</section>
<section class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3 title2 text-center">~ Termeni și condiții ~</h4>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <h4>1. Termeni de comandă și de plată</h4>
            <p>Atunci când o comandă este plasată în cadrul Serviciului, contractul de vânzare-cumpărare obligatorie dintre Utilizator și Furnizorul de servicii este considerat încheiat atunci când Utilizatorul primește un e-mail de confirmare a comenzii în care se confirmă disponibilitatea, prețul final incluzând transportul și timpul estimat de livrare.</p>
            <p>Furnizorul de servicii își rezervă dreptul de a respinge orice comandă la discreția sa.</p>
            <h5>Plata cu cardul</h5>
            <p>Plata cu cardul de tip Visa sau Mastercard.</p>
            <h5>Plata ramburs</h5>
            <p>Plata ramburs se efectueaza integral la livrarea comenzii de catre curier.</p>
            <h5>Transfer bancar (ordin de plata)</h5>
            <p>Dupa trimiterea comenzii, veti primi toate informatiile necesare care trebuie inscrise pe ordinul de plata. Livrarea comenzii se face doar dupa confirmarea platii. Pentru accelerarea procesului, va rugam sa ne contactati si sa ne trimiteti o copie de pe ordinul de plata.</p>
            <br>
            <h4>2. Prețurile produselor</h4>
            <p>Prețul produsului este prețul afișat pentru elementul existent în pagina Shop la momentul comenzii.</p>
            <p>Toate prețurile produselor și taxele de livrare sunt afișate în lei.</p>
            <p>Atunci când TVA este aplicabil, se face mențiune expresă în acest sens. În toate celelalte cazuri, TVAul nu este aplicabil.</p>
            <br>
            <h4>3. Anularea unei comenzi și returnarea produselor</h4>
            <p>Utilizatorul (cu excepția instituțiilor și a companiilor) are dreptul să solicite în termen de 14 zile de la livrare returnarea sau schimbul unui produs în conformitate cu legislația română privind protecția consumatorului. Politica de returnare nu se referă la produse care sunt modificate în funcție de dorințele clienților (pe comandă).</p>
            <p>Nota: produsele fiind confectionate manual, nu sunt perfect simetrice.</p>
            <br>
            <h4>4. Clientul are dreptul de a returna un produs dacă:</h4>
            <p>- Comanda a fost anulată în conformitate cu termenii și condițiile ceramical.ro, prin notificare transmisă către comenzi@introvart.ro în termen de 14 zile de la livrare, transmitere confirmată de introvart.ro. În toate cazurile, se va folosi serviciul de transmitere cu confirmare de primire a e-mailului.</p>
            <p>- Produsul nu a fost utilizat.</p>
            <p>- Produsul este în condiția în care clientul a primit-o și toate părțile produsului sunt incluse în pachet.</p>
            <p>- Produsul a fost reambalat în ambalajul original sau echivalent. Produsul trebuie returnat imediat după anulare și confirmarea transmisă de introvart.ro.</p>
            <p>- La returnarea produselor Utilizatorul va fi responsabil pentru riscul de daune precum și pentru costul transportului.</p>
            <br>
            <h4>5. Rambursări</h4>
            <p>Dacă am trimis din greșeală alt produs decât cel comandat, vom suporta toate costurile de transport inclusiv pentru returnarea coletului, urmând să vă trimitem produsul dorit ulterior recepției returului celui trimis în mod eronat (sau să vă rambursăm suma achitată către noi).</p>
            <br>
            <h4>6. Modificări ale serviciului și ale prezentului Acord</h4>
            <p>Furnizorul de servicii își rezervă dreptul de a modifică în orice moment Serviciile, politicile și prezentul Acord de utilizare.</p>
            <br>
            <h4>7. Jurisdicția și soluționarea litigiilor. Limitarea de răspundere</h4>
            <p>Acest acord de utilizare va fi interpretat și aplicat în toate privințele, în conformitate cu legile române. Orice litigiu se soluționează în principal prin negocieri, respectiv de către instanțele române. În toate cazurile, daunele suportate vor fi în limita preţului achitat.</p>
            <br>
        </div>
    </div>
</section>
<section class="container">
    <hr style="border-top: 3px solid #013801;">
</section>
{% endblock content %}