{% extends "shop/layouts/main.html" %}
{% load static %}
{% block title %}
Thank you | Introvart
{% endblock title %}
{% block content %}
<section class="container">
    <hr style="border-top: 3px solid #013801;">
</section>
<br>
<br>
<section class="container" style="min-height:400px;">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3 title4 text-center">Mesajul a fost trimis.</h4>
        </div>
    </div>
</section>

<section class="container">
    <hr style="border-top: 3px solid #013801;">
</section>
{% endblock content %}